@charset "utf-8";

/*
   Author: ETHW-ECPI
   Date:   5/18/2026
   
   Filename: styles.css
*/
body {
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
}

header {
   text-align: center;
   font-size: 12px;
   font-weight: normal;
   padding: 10px;
   background-color: gray;
}

