@charset "utf-8";

/*
   Author: ETHW-ECPI
   Date:   6/16/2026
   
   Filename: styles.css
*/

/* Main */
main {
   max-width: 960px;
   margin: auto;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

/* Body */
body {
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
   text-align: center;
   font-size: 12px;
   font-weight: normal;
   padding: 10px;
   background-color: #333;
   color: whitesmoke;
}

/* Footer */
footer {
   text-align: center;
   font-size: 1em;
   font-weight: normal;
   padding: 10px;
   background-color: #333;
   color: whitesmoke;
}

/* Navigation List */
nav ul {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   background-color: whitesmoke;
   justify-content: center;
   display: flex;
   flex-direction: row;
   gap: 20px;
}

/* Navigation items */
nav ul li a {
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   border-radius: 4px;
}

/* Link Hovering Effect */
nav ul li a:hover {
   background-color: rgb(230, 227, 227);
   transition: background-color 0.5s ease;
   transform: scale(1.02)
}

/* Section */
section {
   background-color: white;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 3px;
}

section>h2 {
   text-align: center;
   border-bottom: 5px solid #333;
   color: #333;
}

section:hover {
   transform: scale(1.01);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Projects Table */
table {
   width: 100%;
   border-collapse: collapse;
}

th,
td {
   border: 2px solid slategray;
   padding: 10px;
   text-align: left;
}

th {
   background-color: rgb(228, 228, 228);
   font-weight: bold;
   margin: auto;
}

/* Contact Form */
.contact-form {
   display: flex;
   flex-direction: column;
   gap: 15px;
   max-width: 600px;
   justify-content: center;
   align-items: center;
}

input,
textarea {
   transition: #c9c9c9 0.3s ease;
}

input:hover,
textarea:hover {
   border-color: #888;
}

input:focus,
textarea:focus {
   border-color: #007BFF;
   outline: none;
}

button[type="submit"] {
   transition: #c9c9c9 0.3s ease;
}

button[type="submit"]:hover {
   background-color: #0056b3;
}

button[type="submit"]:focus {
   background-color: #004494;
   outline: none;
}

/* Mobile */
@media only screen and (min-width: 360px) {}

/* Tablet */
@media (min-width: 600px) {}

/* Desktop */
@media (min-width: 768px) {}

/* Dark Mode */
.dark-mode {
   background-color: #333;
   color: white;
}

/* Toggle Switch */
.switch {
   position: relative;
   display: inline-block;
   width: 50px;
   height: 24px;
}

.switch input {
   display: none;
}

.label-text {
   margin-left: 10px;
   font-size: 1rem;
}