@charset "utf-8";

/*
   Author: ETHW-ECPI
   Date:   6/1/2026
   
   Filename: styles.css
*/

/* Main */
main {
   display: flex;
}

/* Body */
body {
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
   text-align: center;
   font-size: 12px;
   font-weight: normal;
   padding: 10px;
   background-color: rgb(225, 226, 243);
}

/* Navigation List */
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: whitesmoke;
   display: flex;
}

/* Navigation items */
nav ul li a {
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   border: 1px solid black;
}

/* Link Hovering Effect */
nav ul li a:hover {
   background-color: rgb(230, 227, 227);
   transition: background-color 0.5s ease;
   transform: scale(1.02)
}

/* Footer */
footer {
   font-size: 0.75rem;
   text-align: center;
   color: white;
   background-color: slategray;
}

#about {
   border-bottom: 2px solid rgb(31, 34, 46);
   text-align: center;
}

#about:hover {
   transform: scale(1.01);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

#projects {
   border-bottom: 2px solid darkblue;
   text-align: center;
}

#projects:hover {
   transform: scale(1.01);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

table {
   width: 100%;
   border-collapse: collapse;
}

th,
td {
   border: 2px solid slategray;
   padding: 10px;
   text-align: left;
}

th {
   background-color: rgb(228, 228, 228);
   font-weight: bold;
   margin: auto;
}

#contact {
   border-bottom: 2px solid darkblue;
   text-align: center;
}

#contact:hover {
   transform: scale(1.01);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.contact-form {
   display: flex;
}

input,
textarea {
   transition: border-color 0.3s ease
}

input:hover,
textarea:hover {
   border-color: #888;
}

input:focus,
textarea:focus {
   border-color: #007BFF;
   outline: none;
}

button[type="submit"] {
   transition: background-color 0.3s ease
}

button[type="submit"]:hover {
   background-color: #0056b3;
}

button[type="submit"]:focus {
   background-color: #004494;
   outline: none;
}